*{
    box-sizing: border-box;
  
}
.B{
    float:left;
    width: 100%;
}
.C{
    width:25%;
    float:left;
    text-align: center;
}
.D{
    width:25%;
    float:left;
    text-align: center;
}
.E{
    width:25%;
    float:left;
    text-align: center;
}
.F{
    width:25%;
    float:left;
    text-align: center;
}
.containerImg{
    width:18rem;
   
}


.image {
    display: block;

    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:pink;
  }
  
  .C:hover .overlay{
    opacity: 1;
  }
  
  .text {
    color: rgb(63, 4, 202);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }